{% extends 'todoapp/base.html' %}

{% block content %}

<div class="text-center">

    <h1>Todo Panel</h1>
    <p>Click on each task to mark as complete</p>

    <!-- Render the form here-->

    <form action="{% url 'addTask' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-success">Add</button>
    </form>    
    <a type="submit" class="btn btn-warning" href="{% url 'clearAll' %}" role="button">Clear</a>


    <!-- Display the todos here -->
        
        <ul class="list-group p-5">
            {% for task in tasks %}
                {% if task.is_completed %}
            <li class="list-group-item d-flex" style="background-color: #D3D3D3"><p class="p-0 m-0 flex-grow-1" style="text-decoration: line-through;">{{ task }}</p> 
                <a type="submit" class="btn btn-info" href="{% url 'toggleTask' task.id %}" role="button">Toggle</a>
                <a type="submit" class="btn btn-danger" href="{% url 'deleteTask' task.id %}" role="button">Delete</a>
            </li>
                {% else %}
            <li class="list-group-item d-flex"><p class="p-0 m-0 flex-grow-1">{{ task }}</p>  
                <a type="submit" class="btn btn-info" href="{% url 'toggleTask' task.id %}" role="button">Toggle</a>
                <a type="submit" class="btn btn-danger" href="{% url 'deleteTask' task.id %}" role="button">Delete</a>
             </li> 
             {% endif %}
             {% endfor %}
        </ul>
{% endblock content %}
