{% extends 'base.html' %}

{% block content %}

{% if messages %}

    {% for message in messages %}
        <ul class="messages">
            <li class="alert alert-danger" role="alert">{{ message }}</li>
        </ul>
    {% endfor %}

{% endif %}


<form id="codeform" action="{% url 'createRoom' %}" method="POST">
    {% csrf_token %}
    <label for="room_code">Enter your desired room code: </label> <br>
    <input id="room_code" type="text" name="room_code" maxlength="60"> 
    <input type='submit' value='Create Room' class="btn btn-outline-success"/>
</form>

{% endblock content %}